development:
  adapter: postgresql
  encoding: unicode
  database: dismissable_helpers_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: dismissable_helpers_test
  pool: 5
